* {
  margin: 0;
  padding: 0;
}
.home {
  background: url("../assets/main.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-title {
  color: #fff;
  font-size: 4em;
}

.search-container {
  width: 500px;
  margin: 50px;
  text-align: center;
}

.input-search {
  width: 35%;
  height: 30px;
  border-radius: 10px;
  padding: 5px 15px;
  box-shadow: none;
  border: 1px solid;
}

.map-container {
  /* margin: 0 0 50px 10px; */
  display: flex;
  position: relative;

  /* width: 70vw; */
}

.info {
  position: absolute;
  width: 300px;
  padding: 20px;
  right: 0;
  top: 10px;
  background-color: #ffff;
    border-radius: 10px;
}
.info > *  {
  padding-top: 10px;
}
.text {
  margin: 10px 0;
}

.list-el {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: #ebebeb;
    border-radius: 12px;
    padding: 4px;
}

hr {
  padding: 0 !important; 
  border: 1px solid black;
}

.info-data {
  display: none;
  width: 300px;
  position: absolute;
  left: -310px;
  background-color: #fff;
}

.info-icon {
  width: 25px;
  margin-right: 10px;
}

.pm-triger, .co-triger {
  cursor: pointer;
}

.pm-triger:hover .pm-data {
  display: block;
}

.co-triger:hover .co-data {
  display: block;
}

.country-name {
  text-align: center;
    font-size: 25px;
}